/* fonts */
@font-face {
    font-family: 'Inter';
    src: url("./assets/fonts/inter/Inter-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url("./assets/fonts/inter/Inter-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Merriweather';
    src: url("./assets/fonts/merriweather/Merriweather-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Merriweather';
    src: url("./assets/fonts/merriweather/Merriweather-Bold.ttf");
    font-weight: 700;
}

/* fonts */

/* styles */
html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather';
    font-weight: inherit;
    font-size: inherit;
}

input {
    border: none;
    outline: none;
}

textarea {
    border: none;
    resize: none;
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Inter';
    background-color: #000000;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.button {
    width: 220px;
    height: 55px;
    border: 0;
    font-family: Inter;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
}

.button-gold {
    background-color: #BDAE82;
    color: #000000;
    cursor: pointer;
}

.button-gold:hover {
    color: #FFFFFF;
    transition: 0.3s;
}

.button-transparent {
    background-color: transparent;
    border: 2px solid #BDAE82;
    color: #BDAE82;
}

.button-transparent:hover {
    color: #FFFFFF;
    transition: 0.3s;
}

.section-title {
    margin: 0 auto;
    width: 50%;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
}

@media (max-width: 550px) {
    .section-title {
        background-image: none;
        width: 100%;
    }
}

.title {
    margin: 0 auto;
    height: 80px;
    text-align: center;
    font-family: Merriweather;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;
    background-color: #000;
}

/* header */
.header-container {
    display: flex;
    background: url('./assets/img/image-bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.header {
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .header-container {
        background: url('./assets/img/image-bg-tablet.jpg');
        background-position: right 0;
    }
}

.logo {
    width: 50px;
    background-image: url('./assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 25px;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .logo {
        margin-left: 40px;
    }
}

@media (max-width: 350px) {
    .logo {
        margin-left: 20px;
    }
}

.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.nav {
    padding-top: 20px;
    margin-left: auto
}

@media (max-width: 768px) {
    .nav {
        display: none;
        position: absolute;
        width: 620px;
        height: 1024px;
        top: 0;
        right: 0;
        background: #000000;
        z-index: 1;
        /* transform: translateX(100%); */
        transition: 0.3s;
    }
}

@media (max-width: 620px) {
    .nav {
        width: 100%;
    }
}

.nav-open {
    display: block;
    /* transform: translateX(0); */
}

.nav-list {
    display: flex;
    gap: 30px;
    font-family: Inter;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
        padding: 114px 0 0 127px;
        gap: 16px;
        font-size: 35px;
        line-height: 73px;
    }

}

@media (max-width: 620px) {
    .nav-list {
        text-align: center;
        padding-left: 0;
    }
}

.nav-list-item:last-child {
    margin-right: 31px;
}

.nav-list-item a:hover {
    color: #BDAE82;
}

@media (max-width: 768px) {
    .nav-close-menu {
        position: absolute;
        top: 23px;
        left: 509px;
        z-index: 2;
        width: 45px;
        height: 45px;
        background-image: url('./assets/svg/close.svg');
        background-repeat: no-repeat;
        cursor: pointer;
        transition: 0.3s;
    }

    .nav-close-menu:hover {
        filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    }
}

@media (max-width: 620px) {
    .nav-close-menu {
        top: 23px;
        left: calc(50% - 22.5px);
    }
}

.languages {
    display: inline-block;
    padding: 20px 0;
    font-family: Inter;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .languages {
        margin-left: auto;
    }
}

@media (max-width: 350px) {
    .languages {
        margin: auto;
    }
}

.languages-eng:hover,
.languages-ru:hover {
    color: #BDAE82;
    cursor: pointer;
    transition: 0.3s;
}

.languages span:nth-child(1) {
    margin-right: 9px;
}

.languages span:nth-child(2) {
    margin-right: 8px;
}

@media (max-width: 768px) {
    .languages span {
        margin-right: 20px;
    }

    .languages span:nth-child(1) {
        margin-right: 18px;
    }

    .languages span:nth-child(2) {
        margin-right: 18px;
    }
}

@media (max-width: 350px) {
    .languages span {
        margin-right: 0;
    }
}

.language-active {
    color: #BDAE82;
}

@media (max-width: 768px) {
    .burger-menu {
        margin: 31px 40px 0 0;
        height: 28px;
        width: 50px;
        background-image: url(./assets/svg/burger.svg);
        cursor: pointer;
        transition: 0.3s;
    }

    .burger-menu:hover {
        filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    }
}

@media (max-width: 350px) {
    .burger-menu {
        margin-right: 20px;
    }
}

/* header */

/* main */
/* hero */
.hero-container {
    min-height: 820px;
    padding-top: 160px;
    background-image: url('./assets/img/image-bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .hero-container {
        min-height: 500px;
        padding-top: 78px;
        background-image: url('./assets/img/image-bg-tablet.jpg');
        background-position: right -90px;
    }
}

.hero {
    margin-left: 60px;
    max-width: 470px;
}

@media (max-width: 768px) {
    .hero {
        margin-left: 40px;
        max-width: 390px;
    }
}

.hero-title {
    margin-bottom: 10px;
    font-family: Merriweather;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .hero-title {
        font-weight: normal;
        margin-bottom: 20px;
        font-weight: normal;
        font-size: 32px;
        line-height: 64px;
    }
}

.hero-desc {
    margin-bottom: 25px;
    font-family: Inter;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .hero-desc {
        margin-bottom: 60px;
        font-size: 20px;
        line-height: 24px;
    }
}

/* hero */
/* skills */
#skills {
    margin: 100px 0 110px 0;
}

@media (max-width: 768px) {
    #skills {
        margin: 80px 0 85px 0;
    }
}

@media (max-width: 550px) {
    #skills {
        margin-bottom: 0px;
    }
}

.skills-title {
    width: 152px;
}

@media (max-width: 768px) {
    .skills-title {
        width: 131px;
        font-size: 32px;
    }
}

.skills-items {
    padding-top: 60px;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 992px) {
    .skills-items {
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .skills-items {
        padding-top: 45px;
        gap: 0px;
    }
}

.skill-item {
    padding-top: 100px;
    max-width: 280px;
    background-position: center top;
}

@media (max-width: 768px) {
    .skill-item {
        padding-top: 80px;
    }
}

@media (max-width: 1200px) {
    .skill-item {
        flex-basis: 50%;
    }
}

@media (max-width: 640px) {
    .skill-item {
        flex-basis: 100%;
    }
}

.skill-item:nth-child(1) {
    background-image: url('./assets/svg/digital.svg');
    background-repeat: no-repeat;
}

.skill-item:nth-child(2) {
    background-image: url('./assets/svg/video.svg');
    background-repeat: no-repeat;
}

.skill-item:nth-child(3) {
    background-image: url('./assets/svg/retouch.svg');
    background-repeat: no-repeat;
}

.skill-item:nth-child(4) {
    background-image: url('./assets/svg/audio.svg');
    background-repeat: no-repeat;
}

.skill-title {
    margin-bottom: 20px;
    font-family: Inter;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

.skill-desc {
    font-family: Inter;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 992px) {
    .skill-desc {
        margin-bottom: 76px;
    }
}

@media (max-width: 768px) {
    .skill-desc {
        line-height: 22px;
    }
}

/* skills */
/* portfolio */
#portfolio {
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    #portfolio {
        margin-bottom: 80px;
    }
}

@media (max-width: 480px) {
    #portfolio {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-title {
    width: 221px;
}

@media (max-width: 768px) {
    .portfolio-title {
        width: 185px;
        font-size: 32px;
        line-height: 80px;
    }
}

.portfolio-buttons {
    margin: 60px 0 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

@media (max-width: 992px) {
    .portfolio-buttons {
        margin: 50px 0 60px 0;
        max-width: 445px;
        flex-wrap: wrap;
        gap: 5px;
    }
}

.portfolio-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.portfolio-image-item {
    max-height: 560px;
    max-width: 450px;
}

.portfolio-image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* portfolio */
/* video */
#video {
    margin-bottom: 80px;
}

.video-title {
    width: 154px;
}

@media (max-width: 768px) {
    .video-title {
        width: 131px;
        font-size: 32px;
        line-height: 80px;
    }
}

.video-player {
    min-height: 705px;
    margin-top: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/img/video-player-preview.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 768px) {
    .video-player {
        min-height: 418px;
        margin-top: 50px;
        background-size: cover;
    }
}

.button-play {
    position: absolute;
    width: 130px;
    height: 130px;
    background-color: transparent;
    background-image: url(./assets/svg/play.svg);
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
    cursor: pointer;
}

@media (max-width: 768px) {
    .button-play {
        background-image: url(./assets/svg/play-tablet.svg);
        background-position: 31px;
    }
}

.button-play:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

/* video */
/* price */
#price {
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    #price {
        margin-bottom: 80px;
    }
}

.price-title {
    width: 142px;
}

@media (max-width: 768px) {
    .price-title {
        width: 122px;
        font-size: 32px;
        line-height: 80px;
    }
}

.price-cards {
    margin-top: 60px;
    display: flex;
    text-align: center;
    gap: 25px;
}

@media (max-width: 768px) {
    .price-cards {
        margin-top: 50px;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
    }
}

.price-card {
    border: 3px solid #BDAE82;
    width: 450px;
    height: 505px;
}

@media (max-width: 768px) {
    .price-card {
        width: 420px;
    }
}

.price-card-title {
    padding-top: 40px;
    margin-bottom: 20px;
    font-family: Merriweather;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    color: #FFFFFF;
}

.price-card-amount {
    margin-bottom: 20px;
    font-family: Merriweather;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    color: #BDAE82;
}

.price-card-desc {
    margin-bottom: 40px;
    font-family: Inter;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
}

.price-card-desc span {
    display: block;
}

/* price */
/* contacts */
.contacts-container {
    display: flex;
    justify-content: center;
    height: 700px;
    background-image: url('./assets/img/contacts-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
}

@media (max-width: 992px) {
    .contacts-container {
        height: 600px;
        background-size: cover;
    }
}

#contacts {
    padding-left: 20px;
    margin-left: auto;
    flex-basis: 33.333%;
    padding-top: 60px;
}

@media (max-width: 992px) {
    #contacts {
        flex-basis: 100%;
        padding-left: 0;
    }
}

@media (max-width: 992px) {
    .contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.contacts-title {
    margin-bottom: 40px;
    font-family: Merriweather;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;
}

@media (max-width: 768px) {
    .contacts-title {
        font-size: 32px;
        line-height: 64px;
    }
}

.contacts-data {
    display: flex;
    flex-direction: column;
    width: 450px;
}

@media (max-width: 500px) {
    .contacts-data {
        width: min-content;
    }
}

.contacts-data input {
    margin-bottom: 20px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #BDAE82;
    font-family: Inter;
    font-size: 20px;
    line-height: 40px;
    padding-left: 18px;
    color: #BDAE82;
}

.contacts-data textarea {
    margin-bottom: 30px;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #BDAE82;
    font-family: Inter;
    font-size: 20px;
    line-height: 40px;
    padding: 3px 0 0 18px;
    color: #BDAE82;
}

.contacts-data input::placeholder,
.contacts-data textarea::placeholder {
    font-family: Inter;
    line-height: 40px;
    font-size: 20px;
    color: #BDAE82;
}

/* contacts */
/* main */

/* footer */
.footer-container {
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .footer-container {
        flex-direction: column;
    }
}

.footer-info {
    display: flex;
    gap: 20px;
    font-family: Inter;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
    align-self: center;
}

@media (max-width: 768px) {
    .footer-info {
        padding-top: 28px;
        margin-bottom: 16px;
        line-height: 24px;
    }
}

.footer-info a:hover {
    color: #BDAE82;
}

.footer-rsshool {
    font-family: Inter;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .footer-rsshool {
        line-height: 24px;
        margin-bottom: 32px;
    }
}

.footer-rsshool a:hover {
    color: #BDAE82;
}

.footer-social-links {
    display: flex;
    gap: 25px;
}

@media (max-width: 768px) {
    .footer-social-links {
        display: flex;
        margin-bottom: 40px;
    }
}

.footer-social-link {
    width: 27px;
    height: 27px;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.3s;
}

.footer-social-link:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.footer-social-link:nth-child(1) {
    background-image: url(./assets/svg/instagram.svg);
}

.footer-social-link:nth-child(2) {
    background-image: url(./assets/svg/facebook.svg);
}

.footer-social-link:nth-child(3) {
    background-image: url(./assets/svg/twitter.svg);
}

.footer-social-link:nth-child(4) {
    background-image: url(./assets/svg/pinterest.svg);
}

/* footer */
/* styles */