/* fonts */
@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/inter/Inter-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/inter/Inter-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Merriweather';
    src: url("./assets/fonts/merriweather/Merriweather-Bold.ttf");
    font-weight: 700;
}

/* fonts */